### Required libraries

In [1]:
import configparser

In [2]:
%load_ext sql

### Redshift Configuration

In [3]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

DWH_DB_USER=config.get("CLUSTER", "DB_USER")
DWH_DB_PASSWORD=config.get("CLUSTER", "DB_PASSWORD")
DWH_ENDPOINT=config.get("CLUSTER", "HOST")
DWH_PORT=config.get("CLUSTER", "DB_PORT")
DWH_DB=config.get("CLUSTER", "DB_NAME")

### Open Connection in the Redshift

In [4]:
conn_string = "postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
%sql $conn_string

'Connected: dwhuser@dwh'

### Top 10 Artist Played

In [5]:
%%sql
SELECT artists.name,
       Count(songplays.user_id) as Count
FROM   songplays
       LEFT JOIN artists
              ON ( songplays.artist_id = artists.artist_id )
WHERE  songplays.artist_id IS NOT NULL
GROUP  BY artists.name
ORDER  BY Count(songplays.user_id) DESC
LIMIT  10

 * postgresql://dwhuser:***@dwhcluster.c1zqpbohrwg5.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Dwight Yoakam', 148),
 ('Kid Cudi / Kanye West / Common', 40),
 ('Kid Cudi', 40),
 ('Ron Carter', 36),
 ('Lonnie Gordon', 36),
 ('B.o.B', 32),
 ('Usher', 24),
 ('Muse', 24),
 ('Usher featuring Jermaine Dupri', 24),
 ('Richard Hawley And Death Ramps_ Arctic Monkeys', 20)]

### Top 10 Music Played

In [6]:
%%sql
SELECT songs.title,
       Count(songplays.user_id) as Count
FROM   songplays
       LEFT JOIN songs
              ON ( songplays.song_id = songs.song_id )
WHERE  songplays.artist_id IS NOT NULL
GROUP  BY songs.title
ORDER  BY Count(songplays.user_id) DESC
LIMIT  10

 * postgresql://dwhuser:***@dwhcluster.c1zqpbohrwg5.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[("You're The One", 148),
 ("I CAN'T GET STARTED", 36),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 36),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 32),
 ("Hey Daddy (Daddy's Home)", 24),
 ('Make Her Say', 20),
 ('Up Up & Away', 20),
 ('Unwell (Album Version)', 16),
 ('Mr. Jones', 16),
 ('Supermassive Black Hole (Album Version)', 16)]